<div class="boxcard col-md-4">
  <div class="card">
    <div class="picture_profil">
      <img src="/assets/louisloode.jpg" />
    </div>
  <div class="desc_profil">
      <p class="name"><%= "@" + user.name %></p>
      <div class="pertinence">
        <p class="text">Pertinence</p>
        <div class="star">
          <li class="star-full"></li>
          <li class="star-full"></li>
          <li class="star-full"></li>
          <li class="star-full"></li>
          <li class="star-full"></li>
        </div>
      </div>
      <p class="partage"><span><%= user.posts.count %></span> Partages de savoir</p>
    </div>

  </div>
</div>
