<div class="container">
	<div class="row">
		<div class="col-md-8 col-sx-12">
			<div class="ordi">
				<img src="/assets/ordi.svg" class="img-responsive"/>
			</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<div class="descriptif">

				<div class="titre-home">
					<div class="test">
						<h3 class="titre titre1">Les plus intimes secrets du dev </h3>
						<h5 class="sous-titre">Dans toute se profondeur !</h5>
					</div>
				</div>

				<p class="home-descriptif">
					Pour avoir accés à tous nos savoirs il te faura être parrainé par un de nos membres. Si il te faut de l’aide, des renseignements où trouver celui qui aura ta confiance viens posez tes questions, on est gentil :)
				</p>

				<div class="btn_slack">
					<a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=your_client_id"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
				</div>

			</div>

		</div>


	</div>


	<div class="row row1">
		<!--<div class="col-md-12">-->

			<div class="container-kdd">

				<div class="round1">
					<div class="round2">

					</div>
				</div>
				<H3> Les Maitres du KDD </H3>

				<div class="col-md-4">

					<div class="master-kdd">

						<div class="master_cont">
							<div class="picture_profil">
								<img src="/assets/louisloode.jpg" />
							</div>
							<div class="desc_profil">
								<p class="name">@louisloode</p>
								<div class="pertinence">
									<p class="text">Pertinence</p>
									<div class="star">
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-empty"></li>
									</div>
								</div>
								<p class="partage"><span>128</span> Partages de savoir</p>
							</div>
						</div>

					</div>

				</div>

				<div class="col-md-4">

					<div class="master-kdd">

					<div class="master_cont">
							<div class="picture_profil">
								<img src="/assets/mrlukou.jpg" />
								<%= asset_path("/assets/mrlukou.jpg") %>
							</div>
							<div class="desc_profil">
								<p class="name">@MrLukou</p>
								<div class="pertinence">
									<p class="text">Pertinence</p>
									<div class="star">
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-empty"></li>
										<li class="star-empty"></li>
									</div>
								</div>
								<p class="partage"><span>60</span> Partages de savoir</p>
							</div>
						</div>

					</div>

				</div>

				<div class="col-md-4">

					<div class="master-kdd">

					<div class="master_cont">
							<div class="picture_profil">
								<img src="/assets/blephy.jpg" />
							</div>
							<div class="desc_profil">
								<p class="name">@Blephy</p>
								<div class="pertinence">
									<p class="text">Pertinence</p>
									<div class="star">
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-full"></li>
										<li class="star-full"></li>
									</div>
								</div>
								<p class="partage"><span>319</span> Partages de savoir</p>
							</div>
						</div>

					</div>

				</div>


			</div>

	</div>


</div>
