<h2>MAIN</h2>

<% if @feed_items.size > 0 %>
  <% @feed_items.each do |post| %>
    <%= render partial: 'posts/card', locals: {post: post, user: @user} %>
  <% end %>
<% else %>
<p class="text-center">Vous ne suivez personne pour l'instant ou bien vous n'avez encore rien publié</p>
<% end %>
