

<div id="part" class="mainmargin container gover">
    <div id="fixprofil" class="row">

        <div class="col-xs-12 col-sm-2 col-md-3">
           			<nav class="sidebar" role="navigation">
					    <div class="container-fluid">
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>      
					    </div>
					    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
					      <ul class="nav navbar-nav">
					        <li class="active"><a href="#">All</a></li>
					        <li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Javascript</a>
					         		 <p class="imgplus"><img src="/assets/plus.svg"></p>
					          <ul class="dropdown-menu forAnimate" role="menu">

					            <li class="drop_li"><a href="#">React</a></li>
					            <li class="drop_li"><a href="#">Angular</a></li>
					            <li class="drop_li"><a href="#">NodeJS</a></li>
					         
					          </ul>
					        </li>          
					        <li ><a href="#">html/css</a></li>        
					        <li ><a href="#">PHP</a></li>
					      </ul>
					    </div>
					  </div>
					</nav>
 
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-7">
					<% if @feed_items.size > 0 %>
					  <% @feed_items.each do |post| %>
					    <%= render partial: 'posts/card', locals: {post: post, user: @user} %>
					  <% end %>
					<% else %>
					<p class="text-center">Vous ne suivez personne pour l'instant ou bien vous n'avez encore rien publié</p>
					<% end %>
                </div>
                <div class="col-md-5">
                  <%= render partial: 'posts/form'%>
                </div>
            </div>
        </div>
    </div>
</div>