<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="red">
				
			</div>
		</div>

		<div class="col-md-4">

			<p class="home-descriptif">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in dui massa. Vivamus ut purus cursus, tincidunt sem at, venenatis nibh. Pellentesque vel elit semper, laoreet sem et, pulvinar turpis. Proin sagittis congue sem, sit amet convallis metus egestas eget. 
			</p>

			<a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=your_client_id"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

		</div>


	</div>


	<div class="row">
		<!--<div class="col-md-12">-->
			
			<div class="container-kdd">

				<H3> Les Maitres du KDD </H3>
		
				<div class="col-md-4">

					<div class="master-kdd">

					</div>

				</div>

				<div class="col-md-4">

					<div class="master-kdd">

					</div>
						
				</div>

				<div class="col-md-4">

					<div class="master-kdd">

					</div>
						
				</div>

					
			</div>	

	</div>


</div>
