	<div class="row">
  		<div class="col-md-4">
  		<div class="">
  			<div class="">
  				<img src="" alt=""> Image de profil </img>
  			</div>
  			<p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  			</p>
  		</div>
  		</div>

  		<div class="col-md-8">Flux</div>
	</div>
