/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-select";
 @import "font-awesome-sprockets";
 @import "font-awesome";



@font-face {
  font-family: 'AvenirRegular';
  src: url('../Avenir/Avenir_r.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('../Avenir/Avenir_m.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url('../Avenir/Avenir_b.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*
*
* VARIABLES COLOR ----------------------------------------------------------------------------------------------------------
*
*/

$main-color: #211d8d;

$color1: #414B98;
$color2: #748DEF;

/*
*
* HEADER -------------------------------------------------------------------------------------------------------------------
*
*/

@media screen and (min-width:768px){

  .navbar {
    margin: 0;
    height:70px;
    background:#FFF;
    border:0;
    box-shadow: 0px 5px 15px rgba(52,42,81,0.4);
  }

  .navbar-brand-centered {
    position: absolute;
    left: 42.5%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: #eee;
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}
.navbar-nav>.user_menu>a {
  padding: 0 15px 0 0;
}

.alert {
  max-width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

header {
  width: 100%;
  height: 236px;
  display: block;
  background:$color1;
  // background-image:url(/assets/header.png);
  // background-color: #424b98;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.bg-grey {
  background-color: #D9D9D9;
}

/*
*
* FOOTER -------------------------------------------------------------------------------------------------------------------
*
*/

footer {
  position:absolute;
  bottom:0;
  background-color: #FFF;
  text-align: center;
  width: 100%;
  height: 6em;
  line-height: 5em;
  white-space: nowrap;
  display: block;
  color:#5C748D;
  padding-top:8px;
  font-size:12px;
  box-shadow: 0px -1px 12px rgba(0,0,0,0.1);
}
