/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-select";
 @import "font-awesome-sprockets";
 @import "font-awesome";



@font-face {
  font-family: 'AvenirRegular';
  src: url('/assets/Avenir_r.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirMedium';
  src: url('/assets/Avenir_m.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirHeavy';
  src: url('/assets/Avenir_b.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*
*
* VARIABLES COLOR ----------------------------------------------------------------------------------------------------------
*
*/

$main-color: #211d8d;

$color1: #414B98;
$color2: #748DEF;

/*
*
* HEADER -------------------------------------------------------------------------------------------------------------------
*
*/

@media screen and (min-width:768px){

  body{
  width:100%;
  overflow-x:hidden;
  }


  #fixfoooter{
    min-height:690px;
  }

  #logo{
    position:absolute;
    left:50%;
    margin-left:-125px;
    width:250px;
    height:100%;
  }

  #logo img{
    width:100%;
    height:32px;
    margin-top:19px;
  }

  .navbar {
    margin: 0;
    height:70px;
    background:#FFF;
    border:0;
    box-shadow: 0px 5px 15px rgba(52,42,81,0.4);
  }

  .navbar-brand-centered {
    position: absolute;
    left: 42.5%;
    display: block;
    width: 160px;
    text-align: center;
    background-color:transparent;
  }

  .container-fluid{
    padding-left:0;
    padding-right:0;
  }
  .navbar>.container .navbar-brand-centered,
  .navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }
}
.navbar-nav>.user_menu>a {
  padding: 0 15px 0 0;
}

.alert {
  max-width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 5%;
}

header {
  width: 100%;
  height: 236px;
  display: block;
  margin-top:70px;
  transition:all ease-in-out 0.3s;
  background:$color1;
  z-index:10;
  // background-image:url(/assets/header.png);
  // background-color: #424b98;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.bg-grey {
  background-color:transparent;
}


#search{
  width:400px;
  margin-top:5px;

  input{
    width:100%;
    z-index:5;
    border:0;
    height:43px;
    padding-left:55px;
    color:$color2;
    border-radius:0;
    box-shadow: 0px 1px 7px rgba(0,0,0,0.1);
    transition:all ease-in-out 0.3s;
  }
  button{
    position:absolute;
    z-index:10;
    margin-left:-390px;
    border:0;
    background:transparent;
    margin-top:-13px;
    width:30px;
    height:30px;
    border-radius:10px;
    transition:all ease-in-out 0.3s;

    i{
      color:$color2;
      margin-left:-3px;
    }
  }

  button:hover{
      background:rgba(0,0,0,0.07);
      width:30px;
      height:30px;
  }
  input:focus{
      transform:scale(0.98);
      box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
  }
}

#login{
  height:70px;
  padding-left:15px;
  padding-right:15px;

  a{
    display:block;
    height:70px;
    line-height:40px; 
    color:$color2;
    transition:all ease-in-out 0.3s;
  }
  a:hover{
    color:$color1;
  }
  a:visited{
      background:none;
  }
}

.cont_img{
    height: 40px;
    width:40px;
    border-radius:5px;
    float:left;
    overflow:hidden;
    display:inline-block;
    margin-top:10px;

    img{
      width:100%;
      height:100%;
      margin:0;
    }
}

.cont_img{
    height:45px;
    width:45px;
    border-radius:5px;
    float:left;
    overflow:hidden;
    display:inline-block;
    margin-top:12px;

    img{
      width:100%;
      height:100%;
      margin:0;
    }
}

#user_menu{
    width:auto;
    margin-right:15px;

    .namelink{
      display:block;
      float:left;
      display:inline-block;
      color:#000;
      font-family:Avenir;
      font-size:16px;
      font-weight:600;
      margin-left:15px;
      margin-top:25px;
      transition:all ease-in-out 0.3s;

      span{
        margin-left:5px;
        color:$color1;
      }
    }
    .namelink:hover{
      color:$color2;
    }
}

#dropdown-menu
{
  min-width:185px;
  border-radius:0;
  border:0;
  box-shadow: 0px 2px 12px rgbz(0,0,0,0.1);

  .divider{
    a{
      padding:0;
      margin:0;
    }
  }

  .linkdrop{ 
    font-size:16px;
    font-family:Avenir;

      a{
          display:block;
          height:50px;
          line-height:50px;
          padding:0;
          padding-left:25px;
          transition:all ease-in-out 0.3s;
      }
      a:hover{
          color:$color2;
          background:rgba(0,0,0,0.04);
      }
      a:active{
          background:none;
      }
  }

  .signout{ 
    font-size:16px;
    font-family:Avenir;

      a{
          display:block;
          height:50px;
          line-height:50px;
          padding:0;
          padding-left:25px;
          transition:all ease-in-out 0.2s;
      }
      a:hover{
          color:rgba(255,0,0,0.7);
          background:rgba(0,0,0,0.04);
      }
      a:active{
          background:none;
      }
  }
}

#dropdown-menu{
  padding:0;
  margin:0;
  margin-top:13px;
}
#dropdown-menu .divider{
  padding:0;
  margin:0;
}

/*
*
* FOOTER -------------------------------------------------------------------------------------------------------------------
*
*/



footer {
  background-color: #FFF;
  text-align: center;
  width: 100%;
  height: 6em;
  line-height: 5em;
  white-space: nowrap;
  display: block;
  color:#5C748D;
  padding-top:8px;
  font-size:12px;
  box-shadow: 0px -1px 12px rgba(0,0,0,0.1);
}
