<div class="nomcategorie">
	<img src="/assets/femme.png">
	<p><%= @category.name %></p>
</div>

<div id="part" class="mainmargin container gover">
    <div id="fixprofil" class="row">

        <div class="fixleft col-xs-12 col-sm-2 col-md-3">
					<%= render partial: 'shared/widget_categories', locals: {hierarchy: @hierarchy} %>
        </div>

        <div class="col-md-9">
            
                <div id="list_posts_main" class="fixcenter col-md-7">
					<% if @category.posts.size > 0 %>
					  <% @category.posts.each do |post| %>
					    <%= render partial: 'posts/card', locals: {post: post, user: post.user} %>
					  <% end %>
					<% else %>
						<p class="zerorelation text-center">Il n'y pas pour l'instant aucune publication dans cette catégorie</p>
					<% end %>
                </div>
                <div class="fixright col-md-5">
                  <%= render partial: 'posts/form'%>
                </div>
        
        </div>
    </div>
</div>
